ELASTIC_VERSION=9.5.3
ELASTIC_PASSWORD=changeme
ES_JAVA_OPTS=-Xms128m -Xmx2g
LS_JAVA_OPTS=-Xms512m -Xmx512m
ES_PORT=9200
KIBANA_PORT=5601
KIBANA_PASSWORD=changeme
KIBANA_ENCRYPTION_KEY=changeme-change-me-please-at-least-32-characters
# FLEET_SERVER_PORT=8220
SYSLOG_TIMEZONE=UTC
LOGSTASH_SYSLOG_PORT=1514
LOGSTASH_SYSLOG_ROUTER_PORT=1515
LOGSTASH_SYSLOG_DICT_PORT=1516
LOGSTASH_API_PORT=9600
